.login-page {
    background-image: url(../img/login/bg-image-login.jpg);
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

.login-page__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.login-page__container {
    width: 50rem;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    z-index: 2;
}

.login-page__image {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

.login-page__image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.login-page__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
}

.login-page__isotipo {
    width: 60px;
}

.login-page__title {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-block: 16px;
}

.login-page__message {
    font-size: 15px;
    color: #39A92A;
}

.login-page__form-element {
    width: 100%;
    margin-top: 36px;
}

.login-page__form-group {
    margin-bottom: 16px;
}

.login-page__input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #B7C0CD;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.login-page__input:focus {
    border-color: #3B89FF;
    box-shadow: 0 0 5px rgba(59, 137, 255, 0.25);
}

::placeholder {
    font-family: "Poppins", sans-serif;
    color: #A5ABB3;
}

.login-page__checkbox {
    display: flex;
    align-items: center;
}

.login-page__submit {
    padding: 10px 30px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #3B89FF;
    border: 1px solid #3B89FF;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: inline-block;
    width: 100%;
}

.login-page__submit:hover {
    background-color: transparent;
    border: 1px solid #3B89FF;
    color: #3B89FF;
    box-shadow: 0 8px 10px rgba(59, 137, 255, 0.25);
}

@media screen and (max-width: 768px) {
    .login-page__image {
        display: none;
    }

    .login-page__container{
        width: 80%;
    }

}