/* CSS CARRITO DE COMPRAS */
main{
    padding-top: 80px;
}

/* CSS MAIN PRODUCTOS */

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.nav-category {
    width: 100%;
    color: var(--text-primary);
    font-size: var(--fsize-sub-nav);
    position: relative;
    border-bottom: 1px solid var(--border-color-light-green);
}

.list-custom-nav-category {
    padding: 0px 80px;
    width: 100%;
    font-size: var(--fsize-sub-nav);
    color: inherit;
}

.list .dropdown-hover {
    flex: 1;
    max-width: 1440px;
}

.dropdown-hover {
    position: relative;
    padding: 1rem 12px;

}

.dropdown-hover:hover>.dropdown-show,
.dropdown-show:hover {
    transform: translate(0px);
    visibility: visible;
    opacity: 1;
}

.dropdown-show {
    transform: translateY(-15px) translateX(15px);
    position: absolute;
    background: white;
    width: 100%;
    padding: 24px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: var(--element-dropdown);
    opacity: 0;
    visibility: hidden;
    transition: transform 300ms cubic-bezier(0.16, 1, 0.3, 1),
        opacity 300ms ease,
        visibility 300ms ease;
    display: flex;
    flex-direction: column;
    gap: 11px;
    color: var(--text-grey);

}

.list-title {
    text-align: center;
    cursor: default;

}

.dropdown-title {
    color: var(--text-primary);
    text-align: left;
    cursor: default;

}

.dropdown-show>li a {
    color: inherit;

}

.dropdown-show>li a:hover {
    color: var(--text-primary);
}

/* CSS FOR PRODUCTS */
.containerProducts{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
    padding: 50px 80px;
    gap: 3rem;
    /* max-width: 1440px; */
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    color: var(--text-primary); 
    align-items: center;
    gap: 10px;
}

.product-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
.product-img{
    max-height: 322px;
    aspect-ratio: 1 / 1;
    width: max-content;
    object-fit: contain;
    cursor: pointer;

}

.product-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--fsize-paragraph);
}
.product-cart{
    display: flex;
    align-items: end;
    gap: 10px;
    justify-content: space-between;
}
.current-price{
    font-weight: 500;
    font-size: var(--fsize-price-card-product);
}
.product-add{
    display: flex;
    gap: auto;
    padding: 5px 10px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background: var(--tertiary);
    color: var(--text-secondary);
    cursor: pointer;
}
/* CSS FOR JAVASCRIPT */
.active {
    font-weight: 600;
}
