* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    padding: 15px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    color: green;
    font-size: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


/* header */
.header_banner {
    background-color: #dce8dc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.img_header {
    width: 100%;
    height: auto;
}

/* seecion texto en el header */
.texto_header{
    position: absolute;
    margin: 2rem;
    padding: 1rem;
}
h1{
    font-size: 3rem;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
     font-family: 'Poppins', sans-serif;
     font-weight: 900; 
     color: #fff;
     -webkit-text-stroke: 1px #318235;
}
.h2_texto{
    font-size: 2rem;
    font-weight: 900;
}

.btn_vermas {
   display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px 15px;
    width: 200px;
    align-items: center;
    background-color: #e3d4d488;
    border: 2px solid #318235;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900; 
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
}
i{
    background-color: #318235;
    padding: 10px 10px;
    border-radius: 100%;
    
}


.porque-elegirnos {
    text-align: center;
    padding: 60px 20px;
}

.porque-elegirnos h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    color: green;
    margin: 15px 0 10px;
}

.galeria {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 24px;
    letter-spacing: 2px;
}